# Dependencies
node_modules/

# Google Apps Script
.clasp.json
.google/
config/creds.json

# Build Output
client/script/
dist/
dist_new/

# IDE
.vscode/
.idea/

# System
thumbs.db
.DS_Store

# Local Configuration
docs/gdocs_list.txt
